

.navUser{
    display: flex;
    margin-right: 70vw;
    margin-left: -20vw;
    justify-content: space-between;
    margin-top:  0 !important;
    color:  #1D7C7C !important;
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
    margin-top: 0 !important;

}



.nav-link{
    color:  #1D7C7C !important;
    cursor: pointer;
    margin-right: 2vw;
}

.on:hover{
    display: block !important;
}



